.grid{
    display: flex;
    flex-wrap: wrap; 
    width: 400px;
    height: 500px;
    background-color: yellow;

}

.grid div{
    width: 100px;
    height: 100px;
    background-color: blue;
    font-weight: bold;
    font-size: 60px;
    text-align: center;

}


